body {
    background-color: #CDC5BF;
    display: flex;
    flex-direction:column;
}

form {
  background-color: #87CEFF;
  display: flex;
}

img {
  border-radius: 15px 50px 30px;
   padding: 20px;
   max-width: 100%;
}

div {
  display:flex;
}

h1,
h3 {
  margin-left: 20px;
  margin-bottom: 2px;
}

h2 {
margin-top: 0;
margin-bottom: 2px;
padding-left: 5px;
background-color: #1C86EE;
color: white;
}

section {
  flex: 6;
}
form section div {

  display: flex;
}

input {
  width: 80%;
  margin-left: 20px;
  margin-top: 2px;
}

nav {
  margin-left: 20px;
  margin-top: 5px;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}

#main-dish {
  flex: 10;
}

#accept-input {
  flex: 1;
  margin-right: 20px;
  margin-left: 20px;
}

.dishes {
  flex: 2;
  background-color: #FFFFFF;
}

.recipie-card {
  margin: 20px;
  background-color: #FFF8DC;
}

.invalid {
  background-color: yellow;
}

.icon {
  height: 100px;
  width: 100px;
}

#dish-list > li:hover {}
